@page "/readusers"

@inject ISqlDataAccess sqlDataAccess
@inject IUserService userService

<h3>Read Users</h3>

@if (_users is null)
{
    <h4>Loading ...</h4>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Email Address</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var u in _users)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.FirstName</td>
                            <td>@u.LastName</td>
                            <td>@u.DoB</td>
                            <td>@u.EmailAddress</td>
                            <td>
                                <button class="btn btn-primary" @onclick="(() => UpdateUser(u.Id))">Update</button>

                                @* Togggle showing the "Delete" and "Confirm Delete" button. *@
                                @if (idToDelete == u.Id)
                                {
                                    <button class="btn btn-outline-danger mx-2" @onclick="(() => DeleteUser(u.Id))">Confirm Delete</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger mx-2" @onclick="(() => idToDelete = u.Id )">Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            @if (showEditForm)
            {
                <UpdateUser Id="@idToUpdate" OnUpdate="HandleOnUpdate"></UpdateUser>
            }
        </div>
    </div>
}
